/***** PRODUCT DETAIL PAGE *****/
.hide
{
	display:none;
}

/*-----Image Sliders-----*/
/* Hide the images by default */
/* img
{ */
	/* vertical-align: middle; */
	/* width: 300px;
	height: 300px;
} */

.mySlides
{
	display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cur
{
	cursor: pointer;
}

/* Next & previous buttons */
.prev, .next
{
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next
{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext
{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Container for image text */
.caption-container
{
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}

.slide-rw:after
{
	content: "";
	display: table;
	clear: both;
}

/* Six columns side by side */
.slide-clmn
{
	float: left;
	width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo 
{
	opacity: 0.6;
}

.active, .demo:hover 
{
	opacity: 1;
}
/*-----END Image Sliders-----*/

/* images */
/* .product-info-image-box
{
	position:relative;
	margin-bottom:40px;
	text-align: center;

}

.product-sliders img, .sliders-cell
{
	width:100%;
	text-align:center;
}

.product-sliders.flickity-enabled.is-draggable .flickity-viewport
{
	height: 600px !important;
}

.product-sliders .sliders-cell
{
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}

.sliders-cell img, .product-info-image-box img
{
    max-height: 600px;
    max-width: 100%;
	width:auto;
	height:auto;
}

.product-sliders-thumb
{
	width: calc(100% - 70px);
	margin:20px auto 0px auto;
	
}

.product-sliders-thumb div[class^='col-']
{
	text-align:center;
	top: 50%;
	transform: translateY(-50%);
}

.product-sliders-thumb img
{
	cursor:pointer;
	width:auto;
	height:auto;
	max-height:100px;
	max-width:100%;
}

.product-sliders-thumb .is-nav-selected > img
{
	border:2px;
	border-color:transparent;
	padding:3px;
	min-height: 75px;
}

.product-sliders-thumb .flickity-prev-next-button.previous
{
	left:-35px;
}

.product-sliders-thumb .flickity-prev-next-button.next
{
	right:-35px;
} */
/* END images */

/* wishlist */
/* .product-info-image-box .product-save
{
	z-index:99;
	top:20px;
	right:20px;
}

.product-info-image-box .product-save a
{
	width: 40px;
	height: 40px;
	font-size: 20px;
}

.product-sliders:hover + .product-save a, .product-info-image-box .product-save a:hover
{
    opacity: 1;
} */
/* END wishlist */

/* description */
.product-info-desc:last-child
{
	margin-bottom: 30px;
	border-bottom:1px solid #ddd;
}

.product-info-desc + .product-info-desc
{
	margin-top: 0px; /*originally 40px*/
	border-bottom: 1px solid #ddd;
}

.product-info-desc .accor-box
{
	background: transparent;
	border: 0px;
	margin-bottom:0px;
}

.product-info-desc .accor-box > h4
{
	font-weight: normal;
	background: transparent;
	padding: 10px 20px 10px 20px;  /*original 10px 20px 10px 40px*/
	border-top:1px solid #ddd;
	border-bottom: none; /*originally border-bottom:1px solid #ddd; */
}

.product-info-desc .accor-box > h4.active
{
	background:none;
	color: #444645 !important;
	font-weight: bold;
	border-bottom:0px;
    padding-bottom: 0px;
}

.product-info-desc .accor-box .accor-content
{
	border-top:0px;
	padding: 15px 30px 15px 43px;
}

.product-info-desc table
{
	width:100%;
	margin-top:10px;
}

.product-info-desc table td
{
	border:1px solid #ddd;
	padding:3px 7px;
}
/* END description */

/* side */
/* basic */
.product-info-side aside
{
	display:inline-block;
	width:100%;
	margin-bottom:30px;
}

.product-info-side h3
{
	font-size: 25px;
	line-height: 1.3;
	color: var(--color-primary);
    font-weight: bold;
    margin-bottom: 0px;
}

.product-info-seller a
{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
}

.product-info-price
{
	font-size: 18px;
    margin-bottom: 20px;
}

.product-info-price s
{
	color: #999;
	margin-right: 5px;
}

a.icon-save
{
	display: inline-block;
	line-height: 1.4;
	vertical-align: top;
	text-align:center;
}

a.icon-save img
{
	width: 26px;
}
/* END basic */

/* tag */
/* .product-info-tag
{
	list-style: none;
	padding: 0px;
	margin-bottom: 20px;
}

.product-info-tag > li
{
	border-top: 1px solid #ddd;
	padding: 5px 0px;
	font-size: 13px;
	margin-bottom:0px;
}

.product-info-tag > li > span
{
	color: #000;
    font-weight: bold;
} */
/* END tag */

/* attribute */
/* .product-info-attribute-box
{
	margin-top:20px;
}

.product-info-attribute-box label
{
	margin-bottom: 5px;
	font-weight: bold;
	color: #000;
	width: 100%;
}

.product-info-attribute-box ul
{
	list-style:none;
	padding:0px;
	margin-bottom:10px;
}

.product-info-attribute-box ul li
{
	display:inline-block;
	background: #FFF;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding: 5px 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor:pointer;
}

.product-info-attribute-box ul li.active, .product-info-attribute-box ul li.active:hover
{
	background:#000;
	border-color:#000;
	color:#FFF;
	cursor:default;
}

.product-info-attribute-box ul li:hover
{
	background:#eee;
} */
/* END attribute */

/* .product-info-delivery-closed
{
    margin-bottom: 5px;
    font-size: 14px;
    color: red;
    font-weight: bold;
} */

/* button, stock */
.quantity-box
{
	display: flex;
	width: 100%;
    margin-bottom: 15px;
}

.quantity-box button
{
	border-radius: 0px;
	padding: 8px 15px 9px 15px;
    border: 1px solid #DDD;
    background: none;
    width: 100%;
    color: #444645;
    font-family: "Quicksand";
    line-height: 1.3;
    font-weight: normal;
}

.quantity-box button.minus
{
    border-right: 0px;
}

.quantity-box button.plus
{
    border-left: 0px;
}

.quantity-box button:hover
{
    background: #eee;
    color: #444645;
    border-color: #DDD;
}

.quantity-box input
{
	width: 40%;
	border-radius: 0px;
    border: 1px solid #DDD;
	border-left: 0px;
	border-right: 0px;
	background:#FFF;
	text-align:center;
    font-family: "Quicksand";
    font-size: 16px;
    line-height: 1.3;
	/* -webkit-appearance:none; */
}

.quantity-box input:focus
{
    box-shadow: none;
}

/*
.product-info-button
{
    margin-bottom: 15px;
}

.product-info-button button
{
	text-transform: uppercase;
	width: 100%;
	font-weight: 500;
    border-radius: 0px;
}

.product-info-button button > i
{
	margin-right: 10px;
	vertical-align: middle;
	margin-top: -3px;
}

.product-info-button button:hover
{
	box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
}

.product-info-button button.btn-out-of-stock
{
	background: #F00;
	color:#FFF;
	cursor:default;
    border: 0px;
}

.product-info-button button.btn-out-of-stock:hover
{
	background:#F00;
    box-shadow: none;
}

.product-info-button button.btn-out-of-stock > i
{
	margin-top:-5px;
} */
/* END price, button, stock */
/* END side */
/* .product-info-row
{
	margin-bottom: 30px;
    margin-top: 10px;
}

.product-info-row h4
{
    font-weight: bold
}
 */

/***** END PRODUCT DETAIL PAGE *****/

/***** ACCORDION *****/
.accor-box
{
	border: 1px solid #DDD;
	background: #fff;
	margin-bottom: 15px;
}

.accor-box > h4
{
	margin-bottom: 0px;
	line-height: 1.5;
}

.accor-box > h4.active
{
	background: #000;
}

.accor-box > h4 > a
{
	display: flex;
	width: 100%;
	align-items: center;
	padding: 10px 15px;
	color: #444645;
	cursor:pointer;
	font-size: 18px;
	flex-grow: 1;
	padding-right: 10px;
}

.accor-box > h4.active > a, .accor-box .toggle-arrow.enable.active::after
{
	top: 77%;
}

.accor-box .toggle-arrow.enable::after
{
	border-width: 7px;
    right: 10px;
    left: unset;
}

.accor-box .accor-content
{
	display:none;
	padding: 15px;
	border-top: 1px solid rgb(221, 221, 221);
}

.accor-box .accor-content.active
{
	display:block;
} 
/***** END ACCORDION *****/

/*** TOGGLE ***/
.toggle-arrow.enable
{
    position: relative;
	display:flex;
	align-items:center;
    cursor:pointer;
}

.toggle-arrow.enable:after
{
    position: absolute;
    display: inline-block;
    content: url(/user/assets/img/icon-plus.svg);
    transform: translateY(-20%) rotate(0deg); 
    top: 39%;
    right: 20px;
    background: #FFF;
}

.toggle-arrow.enable.active:after
{
    transform: translateY(-55%) rotate(45deg);
    top: 62%;
}

.sidebar .toggle-arrow.enable:after 
{
	opacity: 0;
}

.toggle-arrow.enable + .toggle-result
{
	display:none;
}

.toggle-arrow.enable.active + .toggle-result
{
	display:block;
}

.accor-content.toggle-result > p > b, .accor-content.toggle-result > p > strong {
    color:var(--color-primary);
}
/*** END TOGGLE **

/*** SIDEBAR ***/
.sidebar .toggle-arrow.enable::after
{
    top:26%;
    right: 5px;
}

.sidebar .toggle-arrow.enable.active::after
{
    top:55%;
}
/*** END SIDEBAR ***/


/*** TABLE LISTING ***/
.cart-form
{
	padding: 10px 80px;
}

.table-listing thead th, .table-totals thead th
{
	font-size:16px;
	color:#000;
	border-bottom: 2.5px solid #ececec;
}

.table-listing tbody td, .table-totals tbody td
{
	vertical-align:top;
	font-size:16px;
	color:#000;
	padding: 20px 10px;
}

.table-listing thead th:first-child, .table-listing tbody td:first-child, .table-totals thead th:first-child, .table-totals tbody td:first-child
{
	padding-left:.5em;
}

.table-listing thead th:last-child, .table-listing tbody td:last-child, .table-totals thead th:last-child, .table-totals tbody td:last-child
{
	padding-right:.5em;
}

.table-listing tbody td i.fa
{
	font-size:18px;
}

.table-listing tbody td a.trash[data-title]:hover::after
{
	bottom:-33px;
}

.table-listing .text-small
{
	font-size:13px;
	color:#666;
	margin-top: 5px;
	display: block;
	line-height: 1.4;
}

.table-listing tr.total-row td
{
	padding: 10px;
}

.table-item-delete tbody td:first-child
{
	width: 100px;
}

.table-item-delete tbody td.item-no
{
	width:50px;
}

/* .table-item-delete tbody td:nth-child(3), .table-item-delete tbody td:nth-child(4), .table-item-delete tbody td:nth-child(5) */
.table-item-delete tbody td
{
	width: 200px;
}

/* .table-item-delete tbody td:last-child
{
	width: 90px;
} */

.table-item tbody td:first-child
{
	width: 140px;
}

/* .table-item tbody td:nth-child(3), .table-item tbody td:nth-child(4), .table-item tbody td:nth-child(5)
{
	width: 150px;
} */

.total-box
{
	width:40%;
}

.table-totals tbody td
{
	padding:10px;
}

.table-totals tbody td:last-child
{
	font-weight:bold;
	text-align:right;
	width:200px;
}
/*** TABLE LISTING ***/


/*** CHECKOUT ***/
/** icon **/
.navigation
{
	display:inline-block;
	width:100%;
	padding:20px 40px;
	padding-top:0px;
	z-index:0;
	text-align:center;
}

.navi
{
	position:relative;
	border: 2px solid #DDD;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	padding: 5px 0px 4px 0px;
	text-align: center;
	width: 20%;
	display: inline-block;
	margin-left:-5px;
	margin-bottom:10px;
	color:#CCC;
	font-weight:bold;
}

.navi > div
{
	position: absolute;
	right: -20px;
	top: -5px;
	z-index: 9;
	border: 2px solid #DDD;
	width: 41px;
	height: 41px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	float: left;
	margin-left: -30px;
	background: #FFF;
	color:#FFF;
}

.navi.active, .navi.active > div
{
	border-color:var(--color-primary);
	background:var(--color-primary);
	color:#FFF;
}

.navi.active > div > span
{
	font-size:20px;
	margin-top:8px;
	margin-left:2px;
}
/** END icon **/

.payment-desc-box
{
	background: #EEE;
	padding: 10px 20px;
	margin-left: 25px;
	margin-top: 10px;
	font-size: 14px;
	color: #333;
}

.quantity-box > button
{
	padding: 0px 12px;
}

.quantity-box > button > i
{
	margin-right: 0px !important;
	margin-top: 0px !important;
	font-size: 14px !important;
}

.quantity-box > input.quantity
{
	font-size: 14px;
	margin: 0px;
	box-shadow: unset;
	width: 40px;
	text-align:center;
}

input[type="email"], input[type="search"], input[type="number"], input[type="url"], input[type="tel"], input[type="text"], textarea
{
	font-size: 15px;
	padding: 11px 10px 8px 10px;
	line-height: 1.5;
	min-height: 38.9px;
}


h6
{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: .05em;
	text-transform: uppercase;
	color:#555;
}

h6:after
{
	position: relative;
	display: inline-block;
	background-color: rgba(0,0,0,0.1);
	content: "";
	height: 3px;
	display: block;
	margin: 10px 0 20px 0;
	width: 100%;
	max-width: 30px;
}

h6.cart-title
{
	font-size:20px;
	font-weight: 700;
	letter-spacing: unset;
	text-transform: capitalize;
	opacity:1;
	color:#000;
}

.checkout-row .checkout-tab-box h5
{
    margin-bottom: 7px;
}

.checkout-row h3
{
    font-size: 26px;
	margin-bottom:15px;
    font-weight: normal;
}

.checkout-row h3 + .notes
{
    margin-top: -20px;
    margin-bottom: 20px;
}

.checkout-row h5
{
	margin-bottom:15px;
}

/****   Input checkout   ****/
:focus
{
	outline: 0;
}

input, textarea
{
	font-size: 15px;
	border:0px solid #ddd;
	border-radius:5px;
	padding: 7px 15px;
	width:100%;
	background: #F7F8FA;
}

input:focus, textarea:focus
{
	border: 0px;
	outline: 0;
}

textarea
{
	min-height:100px;
}

.input-row
{
	position:relative;
}

.input-row label.input
{
	position: absolute;
	font-size: 14px;
	width: 100%;
	top: 3px;
	left:0px;
	color: #666;
	padding: 0px 16px;
	transition: all 0.2s ease-out;
	pointer-events:none;
	opacity:0;
	font-weight: 400;
	z-index:9;
    max-height: 20px;
    overflow: hidden;
}

.input-row label.input.active
{
	transform: none;
	opacity:1;
}

.input-row input,
.input-row .select2-container--default .select2-selection--single .select2-selection__rendered
{
	padding:12px 15px 13px 15px;
}

.input-row label.input.active + input, 
.input-row label.input.active + span input
{
	padding-top: 22px;
	padding-bottom: 3px;
}

.input-row label.input.active + textarea
{
    padding-top: 25px;
}

.input-row label.input.active ~ .select2-container--default .select2-selection--single .select2-selection__rendered,
.input-row label.input.active + span .select2-container--default .select2-selection--single .select2-selection__rendered
{
	padding-top: 23px;
	padding-bottom: 3.5px;
    border: 0px;
}
/***** END INPUT *****/


/****   Checkout Summary   ****/

.checkout-box h4
{
    font-size: 15px;
}

.checkout-box a.checkout-login
{
    color:var(--color-primary);
}

.checkout-box a.checkout-login:hover
{
    border-bottom: 1px dotted;
}

.checkout-box .checkout-notify-email
{
    margin-top: 0px;
}

.checkout-box > div
{
    padding-bottom: 30px;
}

.checkout-box,
.checkout-box input,
.checkout-box .input-row label.input,
.checkout-box .select2-container--default .select2-selection--single .select2-selection__rendered,
.checkout-box [type="checkbox"] + label
{
    font-size: 90%;
    font-weight: normal;
}

.checkout-box [type="checkbox"] + label::before
{
    top: 2px;
}

.checkout-box [type="checkbox"] + label::after
{
    top: 4.5px;
}

.checkout-box .checkout-info-box table
{
    font-size: 90%;
}

.checkout-box tr.store-delivery-fee td:first-child
{
    border-right: 0px !important;
}

.checkout-box tr.store-delivery-fee td:last-child
{
    border-right: 1px solid #DDD !important;
}

.checkout-box tr.store-delivery-fee td:last-child > div
{
    justify-content: flex-end;
}

.checkout-box tr.store-delivery-fee td:last-child > div > label
{
    margin-right: 0px !important;
}






.checkout-summary-info-box
{
    background: #fafafa;
    box-shadow: 1px 0 0 #f5f5f5 inset;
    order: 1;
}

.checkout-summary-info-box table.item-box
{
    font-size: 14px;
}

.checkout-summary-info-box .store-box label
{
    font-size: 13px;
}

.checkout-summary-info-box .item-product-image
{
    position: relative;
    border: 1px solid #ddd;
}

.checkout-summary-info-box .item-product-qty
{
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 11px;
    color: #fff;
    height: 18px;
    width: 18px;
    text-align: center;
    background: #f4891f;
    border-radius: 10px;
    line-height: 1.7;
    font-weight: 500;
}

.checkout-summary-info-box .item-product-info > a
{
    font-size: 14px;
}

ul.checkout-summary-info-details
{
    list-style: none;
    font-size: 12px;
    padding-left: 0px;
    margin-top: 3px;
}

ul.checkout-summary-info-details > li
{
    padding-left: 0px;
    margin-bottom: 2px;
}

ul.checkout-summary-info-details > li > label
{
    margin-bottom: 0px;
}

.checkout-summary-info-box .item-product-error
{
    font-size: 11px;
    margin-top: 3px;
}

.checkout-summary-info-box table.total-box
{
    width: 100%;
    margin-top: 30px;
}

.checkout-summary-info-box table.total-box thead
{
    font-size: 16px;
}

.checkout-summary-info-box table.total-box td
{
    padding: 5px 7px;
}
/****   END Checkout Summary   ****/

/*** END CHECKOUT ***/


/*** custom Checkout checkbox/radio ***/
[type="checkbox"], 
[type="radio"]
{
	width:auto;
    position: absolute;
    left: -9999px;
}

[type="checkbox"] + label, 
[type="radio"] + label
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
	font-weight:normal;
	display:block !important;
	padding-top:2px;
	font-size:13px;
}

[type="checkbox"] + label:before, 
[type="radio"] + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 17px;
	height: 17px;
	border: 1px solid #DDD;
    background: #FFF;
}

[type="radio"] + label:before
{
    border-radius: 100%;
}

[type="checkbox"] + label:after, 
[type="radio"] + label:after
{
    position: absolute;
    top: 5px;
	left: 4px;
    width: 9px;
	height: 9px;
    content: '';
	background: #132a49;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="checkbox"] + label:after
{
    top: 4px;
	left: 6px;
	width: 6px;
	height: 10px;
	background:none;
	border-bottom: 3px solid #132a49;
	border-right: 3px solid #132a49;
  	transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

[type="radio"] + label:after
{
    border-radius: 100%;
}

[type="checkbox"]:not(:checked) + label:after, 
[type="radio"]:not(:checked) + label:after 
{
    opacity: 0;
}

[type="checkbox"]:checked + label:before, 
[type="radio"]:checked + label:before
{
	border-color: #132a49;
}

[type="checkbox"]:disabled + label::before, 
[type="radio"]:disabled + label::before
{
	border-color: #DDD;
	background: #f1f1f1;
}

[type="checkbox"]:disabled + label::after
{
	border-color: #666;
}

[type="radio"]:disabled + label::after
{
	background: #666;
}
/*** END custom checkbox/radio ***/


/***  pop out order type  ***/
.hidden {
    display: none;
}

#popOutMenu {
	/* z-index: 99;
	position: relative;
	top: 300px; */
	/* display: flex; */
    /* justify-content: center; */
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orderButton {
    display: inline;
    margin: 10px 10px;
    padding: 10px;
    width: 45%;
    box-sizing: border-box;
    border: none;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}

.orderButton:hover {
    background-color: #ec2727;
}

/***  END pop out order type  ***/

/***  ORDER HISTORY  ***/
.orderlist .table {
	width: 100%;
	border-collapse: collapse;
}

.orderlist .table th, .orderlist .table td {
	border-bottom: 1px solid #ddd; /* Only apply border to the bottom of cells */
	padding: 12px;
	text-align: left;
}

.orderlist .table th {
	background-color: var(--color-primary);
	color: #fff;
	font-weight: bold;
}

.orderlist tr:nth-child(even) {
	background-color: #f8f9fa; /* Lighter gray for even rows */
}

.orderlist tr:hover {
	background-color: #f2f2f2; /* Light gray on hover */
}

/* .orderlist .badge-dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px; /* Add some spacing between badge and text 
} */

.orderlist a {
	color: #007bff; 
	text-decoration: none;
}

.orderlist a:hover {
	text-decoration: underline; 
}

.orderlist .total-box
{
	padding: 10px 40px;
	width:100%;
}

.m-r-10 {
    margin-right: 10px;
}
/***  END ORDER HISTORY  ***/


/***  Star Rating  ***/
.star-rating-container .checked {
	color: orange;
}

.star-rating-container span {
	color: #c5c5c5;
	font-size: 16px;
}

.star-rating {
    direction: rtl;
    display: inline-block;
}

.star-rating-rb{
    margin-top: 2em;
	
} 

.star-rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input[type='radio']:checked ~ label span {
    color: orange;
}

.star-rating label:hover,
.star-rating label:hover ~ label span{
    color: orange;
}

/* .star-rating [type="radio"]
{
	width:auto;
    position: absolute;
    left: -5px;
}

.star-rating [type="radio"]
{
    position: relative;
    padding-left: 0px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
	font-weight:normal;
	display:block !important;
	padding-top:2px;
	font-size:13px;
}

.star-rating [type="radio"]:before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 17px;
	height: 17px;
	border: 1px solid #DDD;
    background: #FFF;
}

.star-rating [type="radio"]:before
{
    border-radius: 100%;
}

.star-rating [type="radio"]:after
{
    border-radius: 100%;
}

.star-rating [type="radio"]:not(:checked):after 
{
    opacity: 0;
}

.star-rating [type="radio"]:checked:before
{
	border-color: #132a49;
} */

/***  END Star Rating  ***/
